server:
  identity: {{ ansible_fqdn }}
  user: knot:knot
  listen: [ {{ knot_dns_ip }}@53 ]

{% if knot_logging is defined %}
log:
  - target: {{ knot_log_format }}
    any: {{ knot_log_level }}
{% endif %}

{% if knot_recursive == true %} 
remote:
  - id: resolver
    address: {{ knot_resolver_ip }}@{{ knot_resolver_port }}
{% endif %}

{% if knot_recursive == true %}   
mod-dnsproxy:
  - id: default
    remote: resolver
    fallback: on
{% endif %}

{% if knot_recursive == true %}
acl:
  - id: acl_update
    address: {{ knot_subnet }}
    action: update
{% endif %}

template:
  - id: default
    storage: "/var/lib/knot"
    file: "%s.zone"
    semantic-checks: on
    global-module: mod-dnsproxy/default

zone:
  - domain: {{ domain_name }}
    storage: /var/lib/knot/
    file: {{ domain_name }}.zone
    {% if knot_recursive == true %}
    acl: acl_update
    {% endif %}
